/* Reset styles */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500;1,700;1,900&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Playfair+Display:ital,wght@1,500;1,700;1,900&family=Poppins:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  color: #fff;
  padding: 10px;
  background-color: #6ACFC7;
}
nav {
  display: flex;
  justify-content: flex-end; /* Align elements to the right */
  padding: 5px;
  background-color: #6ACFC7;
}

nav p.logo{
    margin-right: auto;
    font-size: 30px;
    font-family: 'EB Garamond', serif;
}

.hamburger-menu {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.hamburger-menu .line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu .line:nth-child(1) {
  top: 0;
}

.hamburger-menu .line:nth-child(2) {
  top: 9px;
}

.hamburger-menu .line:nth-child(3) {
  top: 18px;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 10px;
}
nav ul li a:hover {
  color: #aaa;
}

/* Main */
main {
  padding: 0;
}

h1, h2, h3 {
  font-weight: 700;
}

p {
  margin-bottom: 20px;
}

.content p {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

/* Home Section */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
 
}

#home .video-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#home video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home .content {
  position: relative;
  z-index: 1;
}

#home h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}

#home p {
  margin-bottom: 20px;
  color: #333;
}

#home .cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;
}

#home .cta-button:hover {
  background-color: #555;
}

/* Add space between bottom element */
#home > *:last-child {
  margin-bottom: 40px;
}


.cta-button, .get-quote-button, button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.cta-button:hover, .get-quote-button:hover, button:hover {
  background-color: #555;
}

#services {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#services h2{
  margin-bottom: 30px;
}

#services ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

#services li {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 4px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services li img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

#services li:hover {
  transform: translateY(-5px);
}

#services h3 {
  margin-bottom: 10px;
}

#services .quote-section {
  margin-top: 40px;
}

#services .quote-section p {
  margin-bottom: 10px;
}

#services .get-quote-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;
}

#services .get-quote-button:hover {
  background-color: #777;
}

/* About Section */
#about {
  padding: 50px 0;
}

#about .about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#about .about-text {
  text-align: left;
  margin-right: 20px;
}

#about h2 {
  margin-bottom: 20px;
  text-align: center;
}

#about p {
  margin-bottom: 20px;
  text-align: center;
}

/* Footer Section */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  
}

.footer-section {
  flex: 1;
  margin-left: 100px;
}

.footer-section:last-child {
  margin-right: 10px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p {
  margin-bottom: 10px;
}

.footer-section button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.footer-section button:hover {
  background-color: #777;
}

.business-hours {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 8px;
}

.business-hours li {
  flex: 75%;
  margin-bottom: 10px;
}


/* Popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.popup h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.popup p {
  margin-bottom: 20px;
}

.popup input[type="text"],
.popup input[type="email"],
.popup input[type="tel"],
.popup textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup textarea {
  resize: vertical;
}

.popup button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.popup button:hover {
  background-color: #555;
}

.popup button.cancel-button {
  background-color: #ccc;
  color: #333;
  margin-right: 10px;
}

.close-popup-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #777;
  cursor: pointer;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  /* Styles for screens up to 768px wide */
  nav {
    justify-content: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  nav ul li a {
    padding: 8px 12px;
    font-size: 14px;
  }

  #home h1 {
    font-size: 24px;
  }
  
  #home .content p {
    font-size: 16px;
  }
  
  #services li {
    width: calc(50% - 20px);
  }
  
  .popup-content {
    width: 90%;
  }

  footer {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .footer-section {
    flex-basis: 50%;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 414px) {
  /* Styles for screens up to 480px wide */
  nav ul {
    display: none;
  }
  
  /* Show Hamburger Menu Icon */
  nav .hamburger-menu {
    display: block;
  }

  #home h1 {
    font-size: 20px;
  }
  
  #home .content p {
    font-size: 14px;
  }
  
  #services li {
    width: 100%;
  }
  
  .popup-content {
    width: 100%;
  }

  footer {
    padding: 10px;
  }

  .footer-section {
    flex-basis: 100%;
  }
}



